doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/node_modules/bootstrap/dist/css/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		block content

		script(language="javascript" src="/node_modules/jquery/dist/jquery.js")
		script(language='javascript' src='/js/jquery.form.js')
		script(language="javascript" src="/node_modules/popper.js/dist/umd/popper.js")
		script(language="javascript" src="/node_modules/tooltip.js/dist/umd/tooltip.js")
		script(language="javascript" src="/node_modules/bootstrap/dist/js/bootstrap.min.js")
		script(language="javascript" src="/reload/reload.js")
		script(language="javascript" src="/js/events.js")

